@{
    ViewData["Title"] = "Administration";
}

<div class="container">
    <partial name="_AdminPartial" />
    <h5>This part of the platform can be accessed by administrators only, who can create/read/update/delete different resources.</h5>
</div>
