@model IEnumerable<LessonViewModel>
@{
    ViewData["Title"] = "By category";
}

<div class="container">
    <partial name="_MultipleLessonsPartial" />
    @if (Model.Count() == 0)
    {
        <h1 class="display-4 text-center">This category doesn't have any lessons yet.</h1>
        <hr />
    }
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>

    <script>
        const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p));
        window.player = player;
    </script>
}
