@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Frequently Asked Questions</h1>
        <hr />
        <h2>What is the purpose of the platform?</h2>
        <h5>The purpose of the platform is to be a place for sharing all kinds of knowledge, but mainly information related to the subjects taught in school.</h5>
        <hr />
        <h2>What file formats are supported?</h2>
        <h5>For videos we support MP4, WebM, Ogg (MIME types: video/mp4, video/webm, video/ogg).</h5>
        <hr />
        <h2>What are the file sizes limits?</h2>
        <h5>For videos, the minimum file size is 0 mb and the maximum file size is 1000 mb.</h5>
        <h5>For files, the minimum file size is 0 mb and the maximum file size is 100 mb.</h5>
    </div>
</div>
