@model IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to WeLearn!</h1>
        <hr />
        <h5>The purpose of the web application is to be a place for sharing all kinds of knowledge, but mainly information related to the subjects taught in school.</h5>
        <h5>Feel free to look around, register and submit a lesson!</h5>
        <br />
        <h5>Currently we have:</h5>
        <h5>@Model.UsersCount users</h5>
        <h5>@Model.CategoriesCount categories</h5>
        <h5>@Model.LessonsCount lessons</h5>
    </div>
    <hr />
    <div class="text-center">
        <img src="https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="image-width" alt="education" />
    </div>
    <br />  
</div>