@model CommentViewModel

<div class="card mb-3 card-style-80-rem">
    <div class="card-body">
        <h5 class="card-title">Leave your comment</h5>
        <hr />
        <form asp-controller="Comment" asp-action="Create" method="post">
            <input asp-for="LessonId" type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.CommentContent"></label>
                <textarea asp-for="@Model.CommentContent" id="content" rows="3" class="form-control"></textarea>
                <span asp-validation-for="@Model.CommentContent" class="text-danger"></span>
                @if (!User.Identity.IsAuthenticated)
                {
                    <small class="text-muted">You need to be logged in to comment.</small>
                }
            </div>
            <input class="btn btn-sm btn-outline-success" type="submit" name="name" value="Submit" />
            <a class="btn btn-sm btn-outline-info cancel" href="">Cancel</a>
        </form>
    </div>
</div>
