@model PaginatedList<LessonViewModel>
@{
    ViewData["Title"] = "All lessons";
}

<div class="container">
    <form asp-area="" asp-controller="Lesson" asp-action="All" method="get">
        <label>Find by name or description:</label>
        <div class="input-group input-group-sm mb-3">
            <input type="text" name="SearchString" class="form-control input-sm col-md-3" value="@Model.SearchString" />
            <input type="submit" value="Search" class="btn btn-sm btn-outline-success ml-1" />
        </div>
    </form>
    @if (Model.Count() == 0)
    {
        <h1 class="display-4 text-center">We don't have any lessons matching your query.</h1>
        <hr />
    }
    else
    {
        <div class="text-center">
            <partial name="_MultipleLessonsPartial" />
            <partial name="_PaginationPartial" />
        </div>
    }
</div>

@* todo: find a way to add padding/margin *@
<br />

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p));
        window.player = player;
    </script>
}
