@{
	ViewData["Title"] = "Email sent";
}

<div class="container bg-text mb-5 mt-3">
	<div class="text-center">
		<h3>@ViewData["Title"]</h3>
		<hr />
		<h4>The lesson has been sent to your email.</h4>
		<h4>Enjoy!</h4>
		<a asp-controller="Lesson" asp-action="All" class="btn btn-sm btn-primary mb-3 mt-3">
            <i class="fas fa-arrow-left"></i> Back to all lessons
        </a>
	</div>
</div>