@{
	ViewData["Title"] = "Email sent";
}

<div class="container">
	<div class="text-center">
		<h1 class="display-4">@ViewData["Title"]</h1>
		<hr />
		<p>The lesson has been sent to your email.</p>
		<p>Enjoy!</p>
	</div>
</div>