@model LessonViewModel
@{
    ViewData["Title"] = "Watch lesson #" + Model.LessonId;
}

<div class="container mb-5 mt-3">
    <partial name="_LessonPartial" />
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}