@model ContactsInputModel
@{
    ViewData["Title"] = "Contacts";
}

<div class="container">
	<div class="text-center">
		<h3>Contacts</h3>
		<hr />
		<h5>
			Feel free to send an email with if anything is concerning you.
		</h5>
		<h5>
			We are always happy to get some feedback or criticism.
		</h5>

		<div class="mt-3 offset-md-3 col-md-6">
			<form asp-controller="Contacts" asp-action="Index" method="post">
				<div class="form-group">
					<label asp-for="FromName"></label>
					<input asp-for="FromName" class="form-control black-text" />
					<span asp-validation-for="FromName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FromEmail"></label>
					<input asp-for="FromEmail" class="form-control black-text" />
					<span asp-validation-for="FromEmail" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Subject"></label>
					<input asp-for="Subject" class="form-control black-text" />
					<span asp-validation-for="Subject" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Content"></label>
					<textarea asp-for="Content" class="form-control black-text"></textarea>
					<span asp-validation-for="Content" class="text-danger"></span>
				</div>
				<input class="btn btn-sm btn-outline-success" type="submit" name="submit" value="Send email" />
			</form>
		</div>
	</div>
</div>