@model AllPrivateMessagesViewModel<PrivateMessageConversationViewModel>
@{
    ViewData["Title"] = "Private conversation";
}

<div class="container">
    <div class="col-sm-12 offset-md-2 col-md-8">
        @if (Model.PrivateMessageModels.Any())
        {
            <div class="row row-cols-1 row-cols-md-1">
                @foreach (var privateMessage in Model.PrivateMessageModels)
                {
                    @if (privateMessage.ReceiverUsername == privateMessage.CurrentUsername ||
                         privateMessage.SenderUsername == privateMessage.CurrentUsername)
                    {
                        <div class="col mb-3">
                            <div class="card border-success">
                                <div class="card-header bg-transparent">@privateMessage.SenderUsername</div>
                                <div class="card-body">
                                    <p class="card-text mb-2">@privateMessage.Text</p>
                                    <small class="text-muted">
                                        <time datetime="@privateMessage.CreatedOn.ToString("O")">
                                            @privateMessage.CreatedOn.ToString("g")
                                        </time>
                                    </small>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <h3>No private messages have been found.</h3>
            <hr />
        }
        @{ var receiverUsername = Model.PrivateMessageModels.First(x => x.ReplyTo != x.CurrentUsername).ReplyTo; }
        <partial name="_MessageResponsePartial"  model="new PrivateMessageInputModel { ReceiverUsername = receiverUsername }"/>
    </div>
    <div class="col-sm-12 col-md-12 text-center">
        <a asp-controller="Message" asp-action="Index" class="btn btn-sm btn-outline-dark">
            <i class="fas fa-arrow-left"></i> Back to all messages
        </a>
    </div>

    @* todo: add padding instead of br tag *@
    <br />  
</div>
