@model FrequentQuestionsViewModel
@{
	ViewData["Title"] = "Frequently Asked Questions";
}

@*(Video MIME types: video/mp4, video/webm, video/ogg)*@
<div class="container">
	<div class="text-center">
		<h1>Frequently Asked Questions</h1>
		<hr />
		<h2>What is the purpose of the platform?</h2>
		<h5 class="mb-4">The purpose of the platform is to be a place for sharing all kinds of knowledge, but mainly information related to the subjects taught in school.</h5>
		<h2>What file formats are supported?</h2>
		<h5 class="mb-4">For videos the following formats are supported MP4, WebM, Ogg (extensions: @Model.AllowedVideoExtensions).</h5>
		<h5 class="mb-4">For files the following formats / extensions are supported: @Model.AllowedFileExtensions.</h5>
		<h2>What are the file sizes limits?</h2>
		<h5>For videos, the maximum file size is 100 mb.</h5>
		<h5>For the files you attach, their sizes' sum cannot exceed 10 mb.</h5>
		<h2>Why is not my lesson shown?</h2>
		<h5>All newly created lessons are checked by administrators before being publicly shown.</h5>
	</div>
</div>
