@{
    ViewBag.Title = "Not found";
    string notFoundMessage = @ViewData["ErrorMessage"].ToString() ?? "404 | Not found";
}

<div class="container bg-text text-center">
    <h3>@notFoundMessage</h3>
    <hr>
    
    <a asp-controller="Home" asp-action="Index">
        Click here to return to the home page.
    </a>
</div>

