@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        // ReSharper disable once Razor.LayoutNotResolved
        Layout = $"/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container bg-text">
    <h2 class="mt-2">Account settings</h2>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
