@model CommentViewModel

@* todo: extract style to the app's css file *@
<div id="add-comment-form-container" class="card mb-3 card-style-80-rem" style="display: none;">
    <div class="card-body">
        @* <h5 class="card-title">Leave your comment</h5> *@
        @* <hr /> *@
        
        <partial name="Templates/_TinyEditor"/>
        
        <form asp-controller="Comment" asp-action="Create" method="post" id="add-comment-form">
            <input asp-for="LessonId" value="@Model.LessonId" type="hidden" />
            <input asp-for="ParentId" value="0" type="hidden" />
            <div class="form-group">
                @* <label asp-for="@Model.Content"></label> *@
                <textarea asp-for="@Model.Content" id="content" rows="3" class="form-control edit-with-tinymce"></textarea>
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
                @if (!User.Identity.IsAuthenticated)
                {
                    <small class="text-muted">You need to be logged in to comment.</small>
                }
            </div>

            <input class="btn btn-sm btn-outline-success" type="submit" value="Add comment" />
            <a class="btn btn-sm btn-outline-info cancel" href="">
                Cancel
            </a>
        </form>
        
    </div>
</div>

<script>
    function showAddCommentForm(parentId) {
        let addFormContainer = "#add-comment-form-container";
        
        $("#add-comment-form input[name='ParentId']").val(parentId);
        $(addFormContainer).show();

        $([document.documentElement, document.body]).animate({
            scrollTop: $(addFormContainer).offset().top
        }, 1000);
    }
</script>
