a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

a.disabled {
    pointer-events: none;
    /*color: #ccc;*/
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #28a745;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

/* https://www.w3schools.com/howto/howto_css_blurred_background.asp */
.landing {
    /* background: url('/img/background-landing.jpg') no-repeat scroll 0px 100% / cover transparent; */
    min-height: 85vh;

    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(0px);

    /* Full height */
    height: 100%;

    margin-bottom: 0;
    padding-bottom: 0;
}

.error {
    /*background: url('/img/background-landing.jpg') no-repeat scroll 0px 100% / cover transparent; */
    min-height: 85vh;

    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(0px);

    /* Full height */
    height: 100%;

    margin-bottom: 0;
    padding-bottom: 0;
}

.bg-text {
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.85); /* opacity/see-through */
    color: white;
    border: 0 solid #f1f1f1;
    border-radius: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*white-space: nowrap;*/
    /*line-height: 60px;*/ /* Vertically center the text there */
    line-height: 30px; /* Vertically center the text there */
}

/*message-box*/

/* plyr */
.plyr-container {
    margin: 50px auto;
    max-width: 500px;
}

.margin-button {
    margin-top: 0.1rem;
}

/* override p tag*/
p {
    margin-top: 0;
    margin-bottom: 0rem;
}

/* dropdown - https://qawithexperts.com/questions/292/how-to-create-bootstrap-dropdown-with-hover-animation */
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
    /*max-height: 0;*/
    /*display: block;
      overflow: hidden;
      opacity: 0;*/
}

.dropdown:hover .dropdown-menu {
    /*max-height: 200px;*/
    opacity: 1;
}

.image-width {
    width: 65%;
}

/* card styles */
.card-style-80-rem {
    max-width: 80rem;
}

.card-style-20-rem {
    max-width: 20rem;
}

.card-style-40-rem {
    max-width: 40rem;
}

.logo {
    max-width: 12%;
}

.max-width-40-percent {
    max-width: 40%;
}

.max-width-60-percent {
    max-width: 60%;
}

.btn-padding-top {
    margin-top: 10rem;
}

/* links */
.gray-link {
    color: #555555;
}

.gray-link:hover {
    color: #404040;
}

.img-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.home {
    background: url('https://res.cloudinary.com/dgvfqp9zu/image/upload/q_auto/v1622922269/welearn-asp-net-core-app/images/pexels-katerina-holmes-5905443-background_bjqdh7.jpg');
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*-o-background-size: cover;*/
}

.background-image {
    max-width: 50%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.no-underline, .no-underline:hover {
    color: black;
    /*text-decoration: none;*/
}

.black-text {
    color: black;
}

.admin-role-color {
    color: #28a745;
}

.admin-role-demote-color {
    color: #FFC107;
}

.btn-like,
.btn-like:hover,
.btn-like:active,
.btn-like:visited,
.btn-like:focus {
    border-color: #ff6699;
    color: #ff6699;
}

.btn-like:hover,
.btn-like:active {
    background-color: #ff6699;
    color: #ffffff;
}

/* override sb-admin 2*/
p, label {
    color: black;
}

input,
input[type=text],
input[type=text]:hover,
input[type=text]:active,
input[type=text]:focus {
    color: black;
}


input,
input[type=number],
input[type=number]:hover,
input[type=number]:active,
input[type=number]:focus {
    color: black;
}

td, th {
    color: black;
}

h1, h2, h3, h4, h5 {
    color: black;
}

textarea,
textarea:hover,
textarea:active,
textarea:focus,
textarea:default {
    color: black !important;
}

select,
select:hover,
select:active,
select:focus,
select:default {
    color: black !important;
}

.correct {
    color: #1cc88a;
}

.wrong {
    color: #e74a3b;
}

.multiselect {
    min-height: 300px;
}

a.navbar-brand {
    text-align: left;
}

/* Quiz Radio Buttons */

.navbar {
    z-index: 3;
}

/* custom rule for a special case, regarding the logo */
/* No greater than 1199px, no less than 991px */
@media (max-width: 1199px) and (min-width: 991px) {
	.navbar-brand-text {
		font-size: 90%;
	}
}

@media (max-device-width: 370px) {
    .navbar-toggler {
        font-size: 1rem;
        max-width: 100%;
    }

    .navbar-brand {
        font-size: 1rem;
        padding-right: 0 !important;
        margin-right: 0 !important;
    }
}

/* responsive footer */
@media (max-device-width: 457px) {
    .footer > .container {
        font-size: .95rem;
    }
}

@media (max-device-width: 436px) {
    .footer > .container {
        font-size: .9rem;
    }
}

/*@media (max-device-width: 415px) {*/
/*    .footer > .container {*/
/*        font-size: .89rem;*/
/*    }*/
/*}*/

/*.footer-custom-wrap {*/
/*	overflow-wrap: break-word !important;*/
/*}*/

/*@media (min-device-width: 319px) and (max-device-width: 1136px) {*/
/*	.logo {*/
/*		max-width: 5%;*/
/*	}*/

/*	.navbar-brand {*/
/*		padding-right: 0 !important;*/
/*		margin-right: 0 !important;*/
/*	}*/
/*}*/
