<div class="text-center container">
    <h3 class="text-success">
        <a class="text-success" asp-area="Administration" asp-controller="Manage" asp-action="Index">Administration</a>
    </h3>
    <hr/>
    
    <h5>
        Panel for moderation
    </h5>
    <hr/>

    <a class="btn btn-sm btn-outline-info mb-1" asp-area="Administration" asp-controller="Lessons" asp-action="Index">Manage lessons</a>
    <a class="btn btn-sm btn-outline-danger mb-1" asp-area="Administration" asp-controller="Reports" asp-action="Index">Manage reports</a>
    <a class="btn btn-sm btn-outline-warning mb-1" asp-area="Administration" asp-controller="Comments" asp-action="Index">Manage comments</a>
    <a class="btn btn-sm btn-outline-success mb-1" asp-area="Administration" asp-controller="Users" asp-action="Index">Manage users</a>
    
    @* ReSharper disable once Mvc.ControllerNotResolved *@
    <a class="btn btn-sm btn-outline-primary mb-1" asp-area="" asp-controller="Hangfire" asp-action="Index">Manage hangfire</a>
    <hr/>
</div>