@model WeLearn.Data.Models.Report
@{
    ViewData["Title"] = "Edit a report";
}

<div class="container">

    <h1>Edit</h1>
    <h4>Report</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" id="datepicker" type="text" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-outline-success" />
                    <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_DateTimePicker" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
